http_interactions:
- request:
    method: post
    uri: https://api.gbif.org/v1/occurrence/download/request
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(rgbif/1.3.0.9134)
      Content-Type: application/json
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: HTTP/1.1 201 Created
      content-type: application/json
      location: http://api.gbif.org/v1/occurrence/download/request/0014771-190621201848488
    body:
      encoding: UTF-8
      string: 0014771-190621201848488
  recorded_at: 2019-07-20 00:12:40 GMT
  recorded_with: vcr/0.2.6.9211, webmockr/0.3.4.9313
[...]
- request:
    method: get
    uri: https://api.gbif.org/v1/occurrence/download/0014770-190621201848488
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.1.9100 rOpenSci(rgbif/1.3.0.9134)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: '{"key":"0014770-190621201848488","doi":"10.15468/dl.5qc7vq","license":"unspecified","request":{"predicate":{"type":"and","predicates":[{"type":"equals","key":"COUNTRY","value":"NZ"},{"type":"equals","key":"YEAR","value":"1993"},{"type":"equals","key":"MONTH","value":"1"}]},"send_notification":false,"format":"DWCA"},"created":"2019-07-20T00:11:49.865+0000","modified":"2019-07-20T00:11:49.961+0000","eraseAfter":"2020-01-20T00:11:49.775+0000","status":"RUNNING","downloadLink":"http://api.gbif.org/v1/occurrence/download/request/0014770-190621201848488.zip","size":0,"totalRecords":0,"numberDatasets":0}'
  recorded_at: 2019-07-20 00:12:40 GMT
  recorded_with: vcr/0.2.6.9211, webmockr/0.3.4.9313
[...]
